@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Play";
	src: url("../fonts/Play/Play-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}